<%- model_class = Report -%>
<div class="page-header">
  <h1>Abduction Records</h1>
  <p>Download: <%= link_to "CSV file", reports_path(format: "csv") %> </p>
</div>
<table class="table table-hover arrow">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "reporter_id" %></th>
      <th><%= sortable "reported_id" %></th>
      <th><%= sortable "created_at" %></th>
      <th><%= sortable "updated_at" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.id, report_path(report) %></td>
        <td><%= report.reporter.name %></td>
        <td><%= report.reported.name %></td>
        <td><%=l report.created_at.to_date, format: "%d/%m/%Y" %></td>
        <td><%=l report.updated_at.to_date, format: "%d/%m/%Y" %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      report_path(report), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_report_path(report), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      report_path(report),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @reports %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_report_path,
            :class => 'btn btn-primary ' %>
